<a href="https://colab.research.google.com/github/anmol8070/Infosys-Project-Work/blob/main/Sql_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.What is SQL, and why is it important in data analytics?

SQL (Structured Query Language) is a programming language designed for managing and querying data in relational databases.

It plays a crucial role in data analytics by enabling analysts and data scientists to access, clean, transform, and analyze large datasets effectively.

# 2.Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.

**INNER JOIN:** Returns rows with matching values in both tables.

**LEFT JOIN:** Returns all rows from the left table and matching rows from the right table (nulls for no match).

**RIGHT JOIN:** Like LEFT JOIN, but includes all rows from the right table.

**FULL OUTER JOIN:**  Combines LEFT and RIGHT JOIN, showing all records with nulls where no match.

# 3.What is the difference between WHERE and HAVING clauses?

**WHERE:** Filters rows before grouping or aggregation occurs. Operates on raw data.

**HAVING**: Filters rows after grouping or aggregation. Operates on grouped data or aggregates.

In [ ]:
Where:-

SELECT * FROM employees WHERE salary > 50000;

Having:-

SELECT department, SUM(salary) AS total_salary
FROM employees
GROUP BY department
HAVING SUM(salary) > 50000;

# 4. How do you use GROUP BY and HAVING in a query?

The **GROUP BY** clause is used to organize rows into groups based on one or more columns. It is commonly used with aggregate functions like COUNT(), SUM(), AVG(), etc., to calculate summaries for each group.

The **HAVING** clause is used to filter groups created by the GROUP BY clause. Unlike WHERE, which filters rows before grouping, HAVING filters grouped data.

In [ ]:
SELECT department, COUNT(employee_id) AS employee_count
FROM employees
GROUP BY department
HAVING COUNT(employee_id) > 10;

# 5. Write a query to find duplicate records in a table.


To find duplicate records in a table, you can use the GROUP BY and HAVING clauses in SQL

In [ ]:
 SELECT column_name, COUNT(*)
FROM table_name
GROUP BY column_name
HAVING COUNT(*) > 1;

# 6. How do you retrieve unique values from a table using SQL?

To retrieve unique values from a table in SQL, you can use the DISTINCT keyword. This will return only distinct (non-duplicate) values from the specified column(s).

In [ ]:
SELECT DISTINCT column_name
FROM table_name;

# 7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().

**COUNT():** Counts the number of rows (or non-NULL values).

**SUM():** Adds up the values in a numeric column.

**AVG():** Calculates the average of values in a numeric column.

**MIN():** Returns the smallest value from a column.

**MAX():** Returns the largest value from a column.

In [ ]:
SELECT COUNT(*) FROM employees;  -- Counts all rows in the table

SELECT SUM(salary) FROM employees;  -- Calculates the total salary of all employees

SELECT AVG(salary) FROM employees;  -- Calculates the average salary

SELECT MIN(salary) FROM employees;  -- Finds the lowest salary

SELECT MAX(salary) FROM employees;  -- Finds the highest salary

# 8. What is the purpose of a DISTINCT keyword in SQL?

The DISTINCT keyword in SQL is used to remove duplicate rows from the result set and return only unique values. It ensures that the query results contain no repeated data for the specified columns.

In [ ]:
SINGLE COLUMN:-

SELECT DISTINCT country FROM customers;

MUTIPLE COLUMN:-

SELECT DISTINCT first_name, last_name FROM employees;