<a href="https://colab.research.google.com/github/anmol8070/Infosys-Project-Work/blob/main/Tuple_list_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple (Immutable, ordered)

In [16]:
t = (1, 2, 3)
print(t)

t = t + (4,)
print(t)

t = t[:1]
print(t)

(1, 2, 3)
(1, 2, 3, 4)
(1,)

List (Mutable, ordered)

In [27]:

lst = [1, 2, 3]
print(lst)


lst.append(4)
lst.insert(0, 10)
print(lst)

lst.remove(10)
lst.pop()
print(lst)

[1, 2, 3]
[10, 1, 2, 3, 4]
[1, 2, 3]

sets(Mutable, unordered, unique elements)

In [32]:
s = {1, 2, 3}
print(s)

s.add(4)
s.update([5, 6])
print(s)

s.remove(3)
s.discard(5)
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 6}




Dictionary(Mutable, unordered, key-value pairs)

In [35]:

d = {'a': 1, 'b': 2, 'c': 3}
print(d)

d['d'] = 4
print(d)

del d['b']
removed_value = d.pop('c')
print(d)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'd': 4}